<div class="cdb-node-user">
	<div class="row">
		<span ui-tree-handle class="user-name">{{node.title}}</span>
		<select ng-model="node.layout">
			<option value="vertical">Vertical</option>
			<option value="horizontal">Horizontal</option>
			<option value="grid">Grid</option>
		</select>
		<select ng-model="node.template">
			<option value="cdb-nodes/default/tpl.html">Default</option>
			<option value="cdb-nodes/horizontal/tpl.html">Horizontal</option>
		</select>
		<span class="glyphicon glyphicon-trash"></span>
	</div>
	<ul class="cdb-node-list" ui-tree-nodes="options" ng-model="node.items">
		<li ng-repeat="item in node.items"
			class="cdb-node {{node.layout}}"
			ui-tree-node ng-include="node.template"></li>
	</ul>
</div>