<div class="node-inner" id="{{node.id}}">
	<div ui-tree-handle>
		<h4 class="node-title">{{node.title}}</h4>
		<button class="btn btn-danger" ng-click="remove(this)"><span class="glyphicon glyphicon-trash"></span></button>
	</div>
	<p>{{node.content}}</p>
	<form ng-submit="addNode(this)" class="form-inline">
		<input type="text" class="form-control" ng-model="nodeName">
		<button type="submit" class="btn btn-primary">Add Node</button>
	</form>
	<ol ui-tree-nodes="options" ng-model="node.items">
		<li class="animate" ng-repeat="node in node.items" ui-tree-node ng-include="'node.tpl.html'">
		</li>
	</ol>
</div>